@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /*width: 100vw;*/
  min-height: 100vh;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

/* Dark theme for body */
html.dark body {
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: left;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: rgba(55, 65, 81, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(55, 65, 81, 0.3);
  border-radius: 100vh;
  /* border: 3px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eecda1;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}

@media (prefers-color-scheme: dark) {
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(55, 65, 81, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(74, 85, 101);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #eecda1;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@theme {
  --color-eboni-100: '#7b7e81';
  --color-eboni-200: '#676a6d';
  --color-eboni-300: '#54575b';
  --color-eboni-400: '#414548';
  --color-eboni-500: '#383c40';
  --color-eboni-600: '#2f3337';
  --color-eboni-700: '#2d3034';
  --color-eboni-800: '#2a2d31';
  --color-eboni-900: '#202327';
  --color-negroni-100: '#f3dcbd';
  --color-negroni-200: '#f2d7b4';
  --color-negroni-300: '#f0d2ab';
  --color-negroni-400: '#eecda1';
  --color-negroni-500: '#d1b48d';
  --color-negroni-600: '#b39a79';
  --color-negroni-700: '#776751';
  --color-negroni-800: '#3c3429';
  --color-negroni-900: '#1e1a15';
}
